* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
  font-family: sans-serif;
  position: relative;
  background-image: url('../assets/Anoitecer.png');
  background-size: cover;       /* cobre toda a tela */
  background-repeat: no-repeat; /* evita repetição */
  background-position: center;  /* centraliza */
}

/* BOTÕES DO TOPO */
.botoesAcima {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 20px;
}

.botaoPequeno {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

/* LOGO */
.logo {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 55%;
  width: 500rem;
}

.logo img {
  width: 100%;
  height: auto;
  display: block;
}

/* MENU PRINCIPAL */
.botoesMenu {
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 30px;
  align-items: center;
}

.conteinerBotoesPequenos {
  position: relative; 
  display: inline-block;
  cursor: pointer;
  width: 200px;
  max-width: 25vw;
}

.conteinerBotoesPequenos img {
  width: 100%;
  height: auto;
  display: block;
}

.conteinerBotoesPequenos span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Quache', sans-serif;
  font-size: 1.9rem;
  font-weight: 900;
  color:  #5B4E45;
  text-align: center;
  pointer-events: none; 
}

@font-face {
  font-family: 'Quache';
  src: url('./assets/Quache-HeavyExExp_PERSONAL.ttf') format('truetype');
  font-weight: 900;
}
